<!DOCTYPE html>
<html>
<head>
    <title>Cancer Heatmap</title>
</head>
<body>
    <h1>Cancer Atlas</h1>
    
    <!-- Include the form -->
    {% include "form.html" %}
    

    {% if heatmap_html %}
        <div>
            {{ heatmap_html|safe }}
        </div>

        {% include "statistics.html" %}
    {% endif %}

    

    <!-- Display results if data is available -->
    {% if data %}
        <h2>Results for {{ cancer_type }} in {{ year }}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>State Name</th>
                    <th>Cancer Cases</th>
                    <th>Total Population</th>
                    <th>Filtered Population</th>
                    <th>Rate %</th>
                    <th>Normalized Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['total_count'] }}</td>
                    <td>{{ row['total_population'] }}</td>
                    <td>
                        {% if row['filtered_population'] %}
                            {{ row['filtered_population'] }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if row['rate'] is not none %}
                            {{ row['rate'] }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if row['normalized_rate'] is not none %}
                            {{ row['normalized_rate'] }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No data available for the selected filters.</p>
    {% endif %}
</body>
</html>
